form {
    width: 90%;
    max-width: 300px;
   color: white;
    padding: 33px 40px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: #1E1E1F;
    margin-bottom: 26px;
  }
  
  textarea {
    background-color: #F9FBFC;
    border: 2px, solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100%-25px);
  }
  
  textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-weight: 400;
  }
  
  textarea:focus {
    outline-color: #61DAFA;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
  }
  
  .TodoForm-button-add {
  


    height: 56px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 0px;
    padding: 12px 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 56px;
    cursor: pointer;
    font-weight: 500;
    
    line-height: 24px;
   
    box-sizing: border-box;
    border-width: 0;
    width: max-content;

  }
  
  .TodoForm-button-cancel {
    background: transparent;
    color: white;
  }
  

  